@charset "utf-8";

.container {
    padding:20px 10px 20px;
}
.styled-select {
    display: inline-block;
}

.styled-select select {
    background: #f0ad4e url(http://i62.tinypic.com/15xvbd5.png) no-repeat 88% 0;
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 5px 25px 5px 5px; /* If you add too much padding here, the options won't show in IE */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
}

.sentence__headline {
    font-size: 16px;
    font-weight: bold;
    color:#000;
    margin:0 0 10px;
    padding:20px 10px 10px;
    border-bottom: 1px solid #dedede;
}

.sentence_notification{
    font-weight: bold;
    color:#000;
    padding: 10px 10px 15px 10px;
    margin:0 0 10px;
}

.sentence__headline__second {
    font-size: 14px;
    font-weight: bold;
    color:#000;
    margin:20px 10px 10px;
}

button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
    color: #fff;
    background-color: #337ab7;
    border: 1px solid #2e6da4;
}

.board_notification_group {
    /*width:400px;*/
    border: 1px solid #424242;
    margin:0 auto;
    /*height:600px;*/
}
.board_notification_group__top{
    position: relative;
    height:50px;
    border-bottom:1px solid #424242;
}
.Top>*{
    float:left;
}
.Top>a{
    border:1px solid red;
    border-radius: 8px;
    padding:4px 12px;
    font-size:12px;
    margin-top:10px;
}
.Top>a:first-child{
    border-color: #939393;
    color:#939393;
    margin-left:10px;
}
.Top>a:last-child{
    float:right;
    color:red;
    margin-right:10px;
}
.Top>h3{
    display: block;
    text-align: center;
    width:100%;
    position: absolute;
    top:5px;
}
div.wrap>.ConBox>div{
    padding:10px 0;
    border-bottom:1px solid #c5c3c3;
    text-indent:18px;
}
.board_group__border{
    border-bottom: 2px solid #f5f5f5;
    padding: 10px 20px 15px 20px;
}
.board_group__title{
    font-weight: bold;
    display: inline;
    padding-left:10px;
}
.board_group__write{
    color: red;
    padding: 5px;
    border:1px solid red;
    border-radius: 10em 10em 10em 10em;
    float: right;
    display: inline;
}
.board_title{
    display: inline;
    font-weight: bold;
}
.board_writer{
    padding-top: 10px;
}