.navbar-toggle{
    float : left; margin : 8px 0 0 5px;
}
body{
    padding-top: 0 !important;
}
.navbar-fixed-bottom, .navbar-fixed-top{
    position: relative;
}
.navbar{
    margin-bottom: 6px;
}
.navbar-default{
    background-color: #6f5499;
}
.navbar-default .navbar-brand{
    color: #b9b3b3;
}
.list-inline>li{
    align-self: center;
    font-family: 'NanumGothic';
    font-size: 13pt;
    margin-right: 15px;
}
.list-inline2>li{
    margin-right:0;
    padding:5px 10px;
}
.container-article{
    margin: 10px 0 10px 0;
    position: relative;
}
.news_article{
    margin: 20px 0 20px 0;
}
.article_image{
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
    float:left;
    margin-right:10px;
}
.article_content{
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
}
.form-control{
    display: none;
}