@charset "utf-8";
@import url('base.css');
@import url('layout.css');

.list_container {
    border-bottom: 1px solid #ededed;
}

.list_container__list {
    display: table;
    width: 100%;
    border-top: 1px solid #ededed;
    padding: 20px;
}

.list_container__list__link {
    display: table-row;
}

.list_container__list__link__image {
    display: table-cell;
    vertical-align: top;
    width: 20%;
}

.list_container__list__link__image img {
    width: 100%;
    height: auto;
    border: 1px solid #ededed;
}

.list_container__list__link__content {
    display: table-cell;
    vertical-align: top;
    width: 80%;
    padding:0 0 0 20px;
}

.list_container__list__link__content .title {
    display: block;
    font-size: 16px;
}

.list_container__list__link__content .crumbs {
    display: block;
    font-size: 14px;
}



.sign_form {
    padding: 20px 40px;
}

.sign_form__form__headline {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 20px;
}

.sign_form__form__section {
    display: table;
}

.sign_form__form__section .row {
    display: table-row;
}

.sign_form__form__section .row .label {
    display: table-cell;
    font-size: 16px;
    line-height: 26px;
    width: 150px;
}

.sign_form__form__section .row .field {
    float: left;
    width: 350px;
    font-size: 16px;
    line-height: 26px;
    height: 26px;
}

.sign_form__form__function {
    margin: 20px 0 0;
}

.sign_form__form__function .button {
    display: block;
    text-align: center;
    width: 100%;
    background:#001d8a;
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}