{% extends 'layout/layout.html' %}
{% block body_content %}
    {{ block.super }}
    <div class="board_view__group">
        <h2 class="board_view__title">{{ board.title }}</h2>
        <div class="board_writer">
            <span class="board_writer__author">{{ board.user_info.user.username }} </span>
            <span>|</span>
            <span class="board_writer__date">{{ board.created_at | date:"Y-m-d" }} </span>
            <span>|</span>
            <span class="board_writer__date">{{ board.view_count }} </span>
        </div>
        <div class="board_btn__grouup">
            <a href="{% url 'board_list' %}?{{ board.mode }}" class="btn_info__list">목록으로</a>
            {% if board.user_info == request.user.user_info %}
                <a href="{% url 'board_modify' board_id=board.id%}"><p class="board_group__modify">수정</p></a>
            {% endif %}
        </div>

    </div>
    <div class="board_view__content">
        {% load static %}
        <img class="board_view__img" src="{% static 'newsproject/image/logo_haru_white.png' %}" alt="하루 뉴스">
        <div class="board_view__apply_content">
            <p class="board_view__detail_content">{{ board.content | safe }}</p>
        </div>
    </div>

{% endblock %}