{% extends 'layout/layout.html' %}
{% block body_content %}
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }

        a {
            text-decoration: none;
            color: #333;
        }

        li {
            list-style: none;
        }

        .wrap {
            width: 400px;
            border: 1px solid #424242;
            margin: 0 auto;
            height: 600px;
        }

        .Top {
            position: relative;
            height: 50px;
            border-bottom: 1px solid #424242;
        }

        .Top > * {
            float: left;
        }

        .Top > a {
            border: 1px solid red;
            border-radius: 8px;
            padding: 4px 12px;
            font-size: 12px;
            margin-top: 10px;
        }

        .Top > a:first-child {
            border-color: #939393;
            color: #939393;
            margin-left: 10px;
        }

        .Top > a:last-child {
            float: right;
            color: red;
            margin-right: 10px;
        }

        .Top > h3 {
            display: block;
            text-align: center;
            width: 100%;
            position: absolute;
            top: 5px;
        }

        div.wrap > .ConBox > div {
            padding: 10px 0;
            border-bottom: 1px solid #c5c3c3;
            text-indent: 18px;
        }
    </style>
    <body>
    <form method="post">
        {% csrf_token %}
        <div class="wrap">
            <div class="Top">
                <a href="#">취소</a>
                <h3>글쓰기</h3>
                <input type="submit">등록</a>
            </div>
            <div class="ConBox">
                <div>
                    <input type="text" name="title" value="제목"
                           style="border:0; font-size:16px; width:80%; outline-style:none; color:#c5c3c3;"
                           onfocus="this.value=''" onblur="if(this.value =='') this.value='제목';">
                </div>
                <textarea name="content"
                          style="font-size:16px;color:#c5c3c3;padding:20px;width:100%; height:400px; max-width:360px;max-height:400px; border:0;resize: none; outline-style:none;"
                          onfocus="this.value=''" onblur="if(this.value =='') this.value='내용';">내용</textarea>
            </div>
        </div>
    </form>
{% endblock %}