{% extends 'layout/layout.html' %}
{% block body_content %}
    {{ block.super }}

    <div class="sign_form sign_in">

        <form class="sign_form__form" method="post">
            {% csrf_token %}
            <h2 class="sign_form__form__headline">회원가입</h2>

            <div class="sign_form__form__section">

                <div class="row">
                    <label for="inputEmail" class="label">Email address</label>
                    <input type="text" id="inputEmail" name="email" class="field" placeholder="Email address" placeholder="Id" required="" autofocus="" />
                </div>

                <div class="row">
                    <label for="inputPassword" class="label">Password</label>
                    <input type="password" id="inputPassword" name="password" class="field" placeholder="Password" required="">
                </div>

                <div class="row">
                    <label for="repeatInputPassword" class="label">Repeat Password</label>
                    <input type="password" id="repeatInputPassword" name="re_password" class="field" placeholder="Password" required="">
                </div>

            </div>

            <div class="sign_form__form__function">
                <a href="" class="button" type="button">회원가입</a>
            </div>

        </form>
    </div>

{% endblock %}