{% extends 'layout/layout.html' %}
{% block body_content %}
    {{ block.super }}

    <div class="list_mymenu">

        <h2 class="sentence__headline">신문사별 카테고리</h2>

    </div>

    <div class="container list-inline">

        <div class="company_group_list">
        {% for content in company_contents %}
            <div class="company_group_list__section">
                <a class="link" href="{% url 'company_list' %}?company={{ content.news_company }}">
                    <span class="image"><img src="http://nstatic.jtbc.joins.com/images/common/h1_logo.png" alt="" /></span>
                    <span class="name">{{ content.get_company_name }}</span>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
</html>
