{% extends 'layout/layout.html' %}
{% block body %}
    {{ block.super }}

    <div class="container">
        <div class="list-inline list-inline2 config">
            <h4>뉴스 맞춤 설정</h4>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="container">
            <button type="button" class="btn btn-primary" onClick="addFields();">추가</button>
            <div class="list-rank">
                <h5>1순위</h5>
            </div>
            <div class="list-inline" id="listInline">
                <select class="form-control section" style="width:35%" id="sectionArea">
                    {% for section in sections %}
                        <option value="{{ section.news_section }}">{{ section.get_section_name }}</option>
                    {% endfor %}
                </select>
                <select class="form-control company" style="width:35%" id="companyArea">
                    {% for company in companys %}
                        <option>{{ company.get_company_name }}</option>
                    {% endfor %}
                </select>
                <select class="form-control" style="width:20%">
                    <option>개수</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>
            <div id="container"></div>
        </div>
    </form>
    <br>
    <br>
    <button type="button" class="btn btn-primary">설정 저장</button>


{% block script %}
   {{ block.super }}
  <script type="text/javascript">

        var section_area = document.getElementById('sectionArea');
        var company_area = document.getElementById('companyArea');
        var $list = $('.container');

        var number = 1;
        var arr_section = [];
        {% for section in sections %}
            arr_section.push('{{ section.get_section_name }}');
        {% endfor %}
        var news_company = ['중앙일보', '동아일보', '한겨레'];
        var max_number = 10;

        var sectionArea = document.querySelector('#sectionArea');


        function changeField(data, self) {

            var $self = $(self),
                createOption = document.createElement('option'),
                $companyArea = $self.next();

            console.log($companyArea);

            function createOptions(data) {
                var options = document.createElement('option');
                options.value = data.value;
                options.innerHTML = data.name;
                return options;
            }

            $companyArea.html('');

            for(var prop in data) {
                if(data[prop].sectionName == sectionArea.value) {
                    //companyArray.push(data[prop].companyName);

                    $companyArea.append( createOptions({ value:1, name:'문선웅'}) );
                }
            }

        }


        $list.on('change', 'select.section', function() {
            var data = [];
            {% for content in contents %}
                data.push({
                    sectionName: '{{ content.news_section }}',
                    companyName: '{{ content.news_company }}'
                    });
            {% endfor %}

            changeField(data, this);
        });



        function addFields() {
            // Number of inputs to create
            // Container <div> where dynamic content will be placed
            var container = document.getElementById("container");
            // Append a node with a random text
            container.appendChild(document.createTextNode((number + 1) + "순위"));
            // Create an <input> element, set its type and name attributes

            var div = document.createElement("div");
            div.className = "list-inline";
            container.appendChild(div);
            var select = document.createElement("select");
            select.className = "form-control section";
            select.style = "width:35%";
            container.appendChild(select);
            for (var i = 0; i < arr_section.length; i++) {
                var option = document.createElement("option");
                option.text = arr_section[i];
                select.appendChild(option);
            }
            var select2 = document.createElement("select");
            select2.className = "form-control company";
            select2.style = "width:35%";
            container.appendChild(select2);
            for (var i = 0; i < news_company.length; i++) {
                var option = document.createElement("option");
                option.text = news_company[i];
                select2.appendChild(option);
            }
            var select3 = document.createElement("select");
            select3.className = "form-control";
            select3.style = "width:20%";
            container.appendChild(select3);
            for (var i = 0; i < max_number; i++) {
                var option = document.createElement("option");
                option.text = i;
                select3.appendChild(option);
            }
            // Append a line break
            container.appendChild(document.createElement("br"));
            number++
        }

    </script>
{% endblock %}
{% endblock %}