{% extends 'layout/layout.html' %}
{% block body_content %}
    {{ block.super }}
    <div class="list_mymenu">

        <h2 class="sentence__headline">뉴스 맞춤 설정</h2>

    </div>

    <form method="post">
        {% csrf_token %}
        <div class="container" id="container">
            <button type="button" class="btn btn-primary" onClick="addFields();">추가</button>
            {% if my_news %}
                {% for my_news in my_news %}
                    <div class="list-rank">
                        <h5 class="sentence__headline__second">{{ my_news.priority }} 순위</h5>
                    </div>
                    <div class="list-inline styled-select" id="listInline">

                        <select class="form-control section" id="sectionArea{{ my_news.priority }}" name="section{{ my_news.priority }}">
                            {% for section in sections %}
                                {% if my_news.news_content.news_section == section.news_section %}
                                    <option value="{{ section.news_section }}"
                                            selected>{{ section.get_section_name }}</option>
                                {% else %}
                                    <option value="{{ section.news_section }}">{{ section.get_section_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <select class="form-control company" id="companyArea{{ my_news.priority }}" name="company{{ my_news.priority }}">
                            {% for company in companys %}
                                {% if my_news.news_content.news_company == company.news_company %}
                                    <option value="{{ company.news_company }}"
                                            selected>{{ company.get_company_name }}</option>
                                {% else %}
                                    <option value="{{ company.news_company }}">{{ company.get_company_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <select class="form-control" name="how_many{{ my_news.priority }}">
                            {% for i in loop_times %}
                                {% if my_news.how_many == i %}
                                    <option value="{{ i }}" selected>{{ i }}</option>
                                {% else %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>

                    </div>
                {% endfor %}
            {% else %}
                <div class="list-rank">
                    <h5 class="sentence__headline__second">1순위</h5>
                </div>

                <div class="list-inline styled-select" id="listInline">

                    <select class="form-control section" style="width:35%" id="sectionArea1" name="section1">
                        {% for section in sections %}
                            <option value="{{ section.news_section }}">{{ section.get_section_name }}</option>
                        {% endfor %}
                    </select>
                    <select class="form-control company" style="width:35%" id="companyArea1" name="company1">
                        {% for company in companys %}
                            <option value="{{ company.news_company }}">{{ company.get_company_name }}</option>
                        {% endfor %}
                    </select>
                    <select class="form-control" style="width:20%" name="how_many1">
                        {% for i in loop_times %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
        </div>
        <div class="container">
            <button type="submit" class="btn btn-primary">설정 저장</button>
        </div>
    </form>

{% endblock %}


{% block script %}
    {{ block.super }}
    <script type="text/javascript">

        var $list = $('.container');
        var number = 1;
        {% if my_news_count > 0 %}
            number = {{ my_news_count }};
        {% endif %}
        var max_number = 10;
        var arr_section = [{}];
        var arr_company = [{}];
        {% for section in sections %}
            arr_section.push({'name':' {{ section.get_section_name }}', 'value': '{{ section.news_section }}' });
        {% endfor %}
        {% for company in companys %}
            arr_company.push({'name':' {{ company.get_company_name }}', 'value': '{{ company.news_company }}' });
        {% endfor %}

        function changeField(data, self) {

            var $self = $(self),
                    createOption = document.createElement('option'),
                    $companyArea = $self.next();

            function createOptions(data) {
                var options = document.createElement('option');
                options.value = data.value;
                options.innerHTML = data.name;
                return options;
            }

            $companyArea.html('');
            var section_id = "#sectionArea" + number;
            var sectionArea = document.querySelector(section_id);

            for (var prop in data) {
                if (data[prop].sectionValue == sectionArea.value) {
                    $companyArea.append(createOptions({
                        value: data[prop].companyValue,
                        name: data[prop].companyName
                    }));
                }
            }
        }

        $list.on('change', 'select.section', function () {
            var data = [];
            {% for content in contents %}
                data.push({
                    sectionValue: '{{ content.news_section }}',
                    sectionName: '{{ content.get_section_name }}',
                    companyValue: '{{ content.news_company }}',
                    companyName: '{{ content.get_company_name }}'
                });
            {% endfor %}

            changeField(data, this);
        });

        function addFields() {
            if (number >= max_number) {
                alert('기사 설정은 최대 10개 까지 할 수 있습니다');
                return false;
            }
            // Number of inputs to create
            // Container <div> where dynamic content will be placed
            var container = document.getElementById("container");
            // Append a node with a random text
            var priority_div = document.createElement("div");
            priority_div.className = "list-rank";
            var priority_h5 = document.createElement("h5");
            priority_h5.className = "sentence__headline__second";
            priority_h5.appendChild(document.createTextNode((number + 1) + "순위"));
            priority_div.appendChild(priority_h5);
            container.appendChild(priority_div);
            // Create an <input> element, set its type and name attributes

            var div = document.createElement("div");
            div.className = "list-inline styled-select";
            div.id = "listInline";
            container.appendChild(div);
            var section_select = document.createElement("select");
            section_select.className = "form-control section";
            section_select.name = "section" + (number + 1);
            section_select.id =  "sectionArea" + (number+1);
            div.appendChild(section_select);
            for (var i = 1; i < arr_section.length; i++) {
                var option = document.createElement("option");
                option.text = arr_section[i].name;
                option.value = arr_section[i].value;
                section_select.appendChild(option);
            }
            var company_select = document.createElement("select");
            company_select.className = "form-control company";
            company_select.name = "company" + (number + 1);
            company_select.id = "companyArea" + (number + 1);
            div.appendChild(company_select);
            for (var i = 1; i < arr_company.length; i++) {
                var option = document.createElement("option");
                option.text = arr_company[i].name;
                option.value = arr_company[i].value;
                company_select.appendChild(option);
            }
            var num_select = document.createElement("select");
            num_select.className = "form-control";
            num_select.name = "how_many" + (number + 1);
            div.appendChild(num_select);
            for (var i = 1; i < max_number; i++) {
                var option = document.createElement("option");
                option.text = i;
                num_select.appendChild(option);
            }
            // Append a line break
            container.appendChild(document.createElement("br"));
            number++
        }
    </script>
{% endblock %}