{% extends 'layout/layout.html' %}
{% block body %}
    {{ block.super }}
      <div class="container list-inline sub_navigation">
      <h3 style="text-align: center;">섹션별 카테고리</h3>
      </div>
    <div class="container list-inline">
    {% for content in section_contents %}
    <div class="container_section">
        <a class="news_article" href="{% url 'section_list'%}?section={{ content.news_section }}">
            <span class="section_name">{{content.get_section_name}}</span>
        </a>
    </div>
    {% endfor %}
    </div>
{% endblock %}
</html>
