{% extends 'layout/layout.html' %}
{% block body_content %}
    {{ block.super }}
    <div class="list_mymenu">

        <h2 class="sentence__headline">섹션별 카테고리</h2>

    </div>

  <div class="container list-inline">

        <div class="company_group_list">
        {% for section in section_contents %}
            <div class="company_group_list__section">
                <a class="link" href="{% url 'section_list' %}?company={{ section.news_section }}">
                    <span class="name">{{ section.get_section_name }}</span>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
</html>
