{% extends 'layout/layout.html' %}
{% block body_content %}
    {{ block.super }}
    <div class="list_mymenu">

        <h2 class="sentence__headline">섹션별 카테고리</h2>

    </div>

    <div class="container list-inline">
    {% for content in section_contents %}
    <div class="container_section">
        <a class="news_article" href="{% url 'section_list'%}?section={{ content.news_section }}">
            <span class="section_name">{{content.get_section_name}}</span>
        </a>
    </div>
    {% endfor %}
    </div>
{% endblock %}
</html>
