{% extends 'layout/layout.html' %}
{% block body_content %}
    {{ block.super }}

    <div class="list_mymenu">
        <h2 class="sentence__headline">섹션별</h2>
    </div>


   <div class="list_container">
    {% for content in contents_list %}

        <div class="list_container__list">

            <a class="list_container__list__link" href="{{ content.link }}">

                <span class="list_container__list__link__image">
                    {% if content.img %}
                        <img src="{{ content.img }}" width="110" height="75" alt="">
                    {% else %}
                        {% load static %}
                        <img src="{% static content.news_image %}" width="110" height="75" alt="">
                    {% endif %}
                </span>

                <span class="list_container__list__link__content">
                    <span class="title"><strong>{{ content.title }}</strong></span>

                    <span class="crumbs">
                        <span class="date">{{ content.news_company }} - [{{ content.news_section }}]</span>
                        <span class="time"><b>9분전</b></span>
                    </span>
                </span>

            </a>

        </div>
    {% endfor %}
    </div>

{% endblock %}
</html>
