{% extends 'base.html' %}
{% load static %}

{% block body %}

    {{ block.super }}

    <!-- The menu -->
    <nav id="navSidebar" class="nav_sidebar">

        {% if request.user.is_authenticated %}
            <p class="username"><strong>{{ request.user }}</strong>님,<br/>반갑습니다</p>
        {% endif %}
        <ul class="nav_sidebar__function">
            <li class="active">{% if request.user.is_authenticated %}
                <a href="{% url 'user_logout' %}">로그아웃</a>{% else %}<a href="{% url 'user_login' %}">로그인</a>{% endif %}
            </li>
            {% if not request.user.is_authenticated %}
            <li><a href="{% url 'user_register' %}">회원가입</a></li>{% endif %}
            <li><a href="{% url 'news_config' %}">설정</a></li>
        </ul>

    </nav>

    <div class="body_container">

        <div class="body_container__headarea">

            <button class="hamburger hamburger--slider nav_sidebar_button" id="navSidebarButton" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
            <a class="logo" href="{% url "home" %}"><img src="{% static 'newsproject/image/logo_haru_white.png' %}" alt="하루 뉴스" /></a>

            <ul class="menu_section">
                <li><a href="{% url 'home' %}">홈</a></li>
                <li><a href="{% url 'section_home' %}">섹션별</a></li>
                <li><a href="{% url 'company_home' %}">신문사별</a></li>
                <li><a href="{% url 'news_config' %}">설정</a></li>
                {#            <li style="color: #6f5499;">공지사항</li>#}
            </ul>

        </div>
        <div class="body_container__contentarea">
            {% block body_content %}
            {% endblock %}
        </div>

    </div>

{% endblock %}

{% block script %}

    {% load static %}
    <script type="text/javascript" src="{% static 'newsproject/js/jquery-3.2.0.min.js' %}"></script>
    <script type="text/javascript">

        $(function() {

            var $body = $('body'),
                $navSidebarButton = $("#navSidebarButton");

            function sideMenuHandler() {
                if($body.hasClass('is_open_sidemenu')) {
                    $body.removeClass('is_open_sidemenu');
                    $navSidebarButton.removeClass('is-active');
                } else {
                    $body.addClass('is_open_sidemenu');
                    $navSidebarButton.addClass('is-active');
                }
            }

            $navSidebarButton.on('click', sideMenuHandler);

        });

    </script>
{% endblock %}
