<!DOCTYPE html>
<html>
<head>
{% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
{% endblock %}
    <link rel="icon" href="../../favicon.ico">
    {% block style %}
    {% endblock %}

    <title>하루 뉴스</title>
    <!-- Bootstrap core CSS -->
</head>
<body>
    {% block body %}
{#        <div class="container">#}
{#        <nav class="navbar navbar-default">#}
{#            <div class="container-fluid">#}
{#              <div class="navbar-header">#}
{#                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">#}
{#                  <span class="sr-only">Toggle navigation</span>#}
{#                  <span class="icon-bar"></span>#}
{#                  <span class="icon-bar"></span>#}
{#                  <span class="icon-bar"></span>#}
{#                </button>#}
{#                <a class="navbar-brand" href="#">하루뉴스</a>#}
{#              </div>#}
{#              <div id="navbar" class="navbar-collapse collapse">#}
{#                <ul class="nav navbar-nav">#}
{#                  <li class="active"><a href="#">Home</a></li>#}
{#                  <li><a href="#">About</a></li>#}
{#                  <li><a href="#">Contact</a></li>#}
{#                  <li class="dropdown">#}
{#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>#}
{#                    <ul class="dropdown-menu" role="menu">#}
{#                      <li><a href="#">로그인 / 로그아웃</a></li>#}
{#                      <li><a href="#">Another action</a></li>#}
{#                      <li><a href="#">Something else here</a></li>#}
{#                      <li class="divider"></li>#}
{#                      <li class="dropdown-header">Nav header</li>#}
{#                      <li><a href="#">Separated link</a></li>#}
{#                      <li><a href="#">One more separated link</a></li>#}
{#                    </ul>#}
{#                  </li>#}
{#                </ul>#}
{#                <ul class="nav navbar-nav navbar-right">#}
{#                  <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>#}
{#                  <li><a href="../navbar-static-top/">Static top</a></li>#}
{#                  <li><a href="../navbar-fixed-top/">Fixed top</a></li>#}
{#                </ul>#}
{#              </div><!--/.nav-collapse -->#}
{#            </div><!--/.container-fluid -->#}
{#          </nav>#}
{#          </div>#}
{#        <div class="container">#}
        <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
          <a class="navmenu-brand" href="#">하루뉴스</a>
          <ul class="nav navmenu-nav">
            <li class="active"><a href="#">로그인</a></li>
            <li><a href="{% url 'user_register' %}">회원가입</a></li>
            <li><a href="#">설정</a></li>
          </ul>
        </nav>

        <div class="navbar navbar-default navbar-fixed-top">
          <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#">하루뉴스</a>
        </div>

        <div class="container">
            <ul class="list-inline">
                <li>섹션별</li>
                <li>신문사별</li>
                <li>추천</li>
            </ul>
            <ul class="list-inline list-inline2">
                <li>Primary</li>
                <li>Success</li>
                <li>Warning</li>
                <li>Danger</li>
            </ul>
        </div>


{#        </div>#}
    {% endblock %}
{% block script %}
{% endblock %}
</body>
</html>