{% extends 'layout/layout.html' %}
{% block body_content %}
    {{ block.super }}

    {% if request.user.is_authenticated%}
        {% if news_customs_count > 0 %}
            <div class="list_mymenu">

                <h2 class="sentence__headline">내 설정</h2>
                <ul class="list_mymenu__list">
                    {% for news_custom in news_customs %}
                        <li>{{ news_custom.news_content.get_section_name }} {{ news_custom.how_many }}</li>
                    {% endfor %}
                </ul>

            </div>
        {% else %}
            <div class="list_mymenu">
            <h3 class="sentence_notification">
                설정을 통해 나만의 기사 목록을 만들 수 있습니다.<br><br>
                지금 노출되는 기사들은 랜덤으로 나오는 기사입니다.
            </h3>
        </div>
        {% endif %}
    {% else %}
         <div class="list_mymenu">
            <h3 class="sentence_notification">
                로그인을 통해 나만의 기사 목록을 만들 수 있습니다.<br><br>
                지금 노출되는 기사들은 랜덤으로 나오는 기사입니다.
            </h3>
        </div>
    {% endif %}
    <div class="list_container">
        {% for news_content in news_contents %}

            <div class="list_container__list">

                <a class="list_container__list__link" href="{{ news_content.link }}">

                <span class="list_container__list__link__image">
                    {% if news_content.img %}
                        <img src="{{ news_content.img }}" width="110" height="75" alt="">
                    {% else %}
                        {% load static %}
                        <img src="{% static news_content.news_image %}" width="110" height="75" alt="">
                    {% endif %}
                </span>

                    <span class="list_container__list__link__content">
                    <span class="title"><strong>{{ news_content.title }}</strong></span>

                    <span class="crumbs">
                        <span class="date">{{ news_content.news_company }} - [{{ news_content.news_section }}]</span>
                        <span class="time"><b style="line-height: 0.9em;">{{ news_content.published_datetime|date:'m-d H:m'}}</b></span>
                    </span>
                </span>

                </a>

            </div>
        {% endfor %}
    </div>


{% endblock %}
